.changelog {
	padding: 0 0 0 20px;
}
.changelog h3 {
	margin: 0 !important;
	font-size: 18px;
}
.changelog .tag {
	font-weight: bold;
	font-size: 14px;
	padding: 4px 10px;
	margin-right: 2px;
}
.changelog ul {
	margin: 4px 0 4px 20px;
}
.changelog ul li {
	line-height: 26px;
}
.changelog .text {
	font-size: 14px;
}
.changelog p {
	margin: 4px 0;
}
.changelog .tag1 {
	background-color: #973cff;
}
.changelog .tag2 {
	background-color: #9c275f;
}
.changelog .tag3 {
	background-color: #02810A;
}
.changelog .tag4 {
	background-color: #ed1980;
}
.changelog .tag5 {
	background-color: #5550ED;
}
.changelog .tag6 {
	background-color: #343434;
}
.changelog .tag7 {
	background-color: #3bbfe4;
}
.changelog .release {
	padding: 10px 20px;
}
.changelog .release.last {
	border-bottom: none !important;
}
.changelog .release:last-child {
	border-bottom: none !important;
}
.development {
	padding: 0 0 0 20px;
}
.development .commit {
	margin-bottom: 10px;
}
.development .commit .meta.date {
	background-color: #005E63;
}
.development .commit .meta.gpg-status {
	background-color: #630500;
}
.development .commit .meta.gpg-status-G {
	background-color: #166523;
}
.development .commit .meta.gpg-status-B {
	background-color: #C90B00;
}
.development .commit .hash,
.development .commit .meta.gpg-key {
	font-family: monospace;
}
.development .commit .meta {
	background-color: #444;
	font-size: 12px;
	padding: 2px 10px;
	margin-right: 2px;
	display: block;
	float: left;
}
.development .commit .meta a {
	text-decoration: none;
}
.development .commit .message {
	clear: both;
	padding: 10px;
}
@media (prefers-color-scheme: dark) {
	.development .commit .message {
		border: .01rem solid #222;
	}
	.development {
		border-left: 0.2rem solid #444;
	}
	.changelog .release {
		border-bottom: .1rem solid #444;
	}
	.changelog .release.last {
		background-color: #222;
	}
	.development .commit .meta,
	.development .commit .meta a,
	.changelog .tag {
		color: #fff !important;
	}
	.changelog {
		border-left: 0.2rem solid #444;
	}
	.development .commit .meta {
		background-color: #222;
	}
}
@media (prefers-color-scheme: light) {
	.development .commit .message {
		border: .01rem solid #444;
	}
	.development {
		border-left: 0.2rem solid #e6e6e6;
	}
	.changelog .release {
		border-bottom: .1rem solid #e6e6e6;
	}
	.changelog .release.last {
		background-color: #f6f6f6;
	}
	.development .commit .meta,
	.development .commit .meta a,
	.changelog .tag {
		color: #fff !important;
	}
	.changelog {
		border-left: 0.2rem solid #e6e6e6;
	}
	.development .commit .meta {
		background-color: #444;
	}
}

.box-list .list-item {
	margin-bottom: 10px;
	padding: 10px 20px;
	font-size: 14px;
}
.box-list .list-item h3 {
	margin: 0;
}
.box-list .list-item .label {
	display: inline-block;
	width: 150px;
	font-weight: bold;
	font-size: 14px;
}
@media (prefers-color-scheme: light) {
	.box-list .list-item {
		border: 0.05rem solid #cacaca;
	}
	.box-list .list-item:nth-of-type(odd) {
		background-color: #f6f6f6;
	}
	.box-list .list-item:nth-of-type(even) {
		background-color: #e6e6e6;
	}
}
@media (prefers-color-scheme: dark) {
	.box-list .list-item {
		border: 0.05rem solid #444;
	}
	.box-list .list-item:nth-of-type(odd) {
		background-color: #111;
	}
	.box-list .list-item:nth-of-type(even) {
		background-color: #222;
	}
}