<article class="post">
	<header>
		<h1>
			<a href="{{ .Permalink | safeURL  }}">{{ .Title }}</a>
		</h1>
		<div class="meta">
			<span> {{ .Params.date.Format .Site.Params.dateFormat }} &nbsp;</span>&nbsp;<span> {{ .Section | humanize }} </span>
		</div>
	</header>
	<div class="content">
		<div class="meta hidden">
			<span class="post-time"> {{ .Params.date.Format .Site.Params.dateFormat }} </span>
		</div>
		<div class="summary">
			{{- if .Params.bigImage -}}
			<a href="{{ .Params.bigImage }}">
				<img loading="lazy" src="{{ .Params.image }}" alt="{{ .Title }}" />
			</a>
			{{- else -}}
				<img loading="lazy" src="{{ .Params.image }}" alt="{{ .Title }}" />
			{{- end -}}
		</div>
	</div>
</article>