<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<meta charset="utf-8">
	<title>
		{{- block "title" . -}}
			{{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
		{{- end -}}
	</title>
	{{ partial "head.html" . }}
</head>
<body>
	{{ partial "slideout.html" . }}
	<div class="container" id="mobile-panel">
		{{ if not .Params.hide_header_and_footer -}}
			<header>
				{{ partial "header.html" . }}
			</header>
		{{- end }}
		<main class="main">
			<div class="wrapper">
				<div class="content">
					{{ block "content" . }}{{ end }}
				</div>
			</div>
		</main>
		{{ if not .Params.hide_header_and_footer -}}
			{{ partial "footer.html" . }}
		{{- end }}
	</div>
	{{ partial "scripts.html" . }}
</body>
</html>