<article class="post">
	<header>
		<h1>
			<a href="{{ .Permalink | safeURL  }}">{{ .Title }}</a>
		</h1>
		<div class="meta">
			<span> {{ .Params.date.Format .Site.Params.dateFormat }} &nbsp;</span>&nbsp;<span> {{ .Section | humanize }} &nbsp;</span>&nbsp;
			{{ if .Site.Params.enable_meta_boxes -}}
			<span> {{ i18n "wordCount" .WordCount }} &nbsp;</span>&nbsp;<span> {{ i18n "readingTime" .ReadingTime }} &nbsp;</span>&nbsp;
			{{- end }}
			{{ if .Params.rating }}
				<span>
				{{ $value := .Params.rating }}
				{{ range seq 1 $value }}<svg class="rating-small" enable-background="new 0 0 32 32" height="32px" version="1.1" viewBox="0 0 32 32" width="32px"><g><g><path style="fill:rgb(237,25,128);fill-opacity:1;" d="M16,30c-0.215,0-0.43-0.069-0.61-0.207C14.844,29.372,2,19.396,2,11c0-4.411,3.589-8,8-8s8,3.589,8,8c0,0.552-0.447,1-1,1 c-0.552,0-1-0.448-1-1c0-3.309-2.691-6-6-6s-6,2.691-6,6c0,6.467,9.477,14.653,12,16.719C18.522,25.653,28,17.46,28,11 c0-3.309-2.691-6-6-6c-0.895,0-1.756,0.192-2.559,0.57c-0.5,0.236-1.097,0.021-1.331-0.478c-0.235-0.5-0.021-1.095,0.478-1.331 C19.66,3.256,20.808,3,22,3c4.411,0,8,3.589,8,8c0,8.396-12.844,18.372-13.39,18.793C16.43,29.931,16.215,30,16,30z"/></g></g></svg>&nbsp;{{ end }}
				</span>
			{{ end }}
		</div>
	</header>
	<div class="content">
		{{ if .Params.image -}}
		<div class="cover">
			{{- if .Params.bigImage -}}
			<a href="{{ .Params.bigImage }}">
				<img loading="lazy" src="{{ .Params.image }}" alt="{{ .Title }}" />
			</a>
			{{- else -}}
				<img loading="lazy" src="{{ .Params.image }}" alt="{{ .Title }}" />
			{{- end -}}
		</div>
		{{- end }}
		<div class="summary">
			{{ .Summary }}
		</div>
		<a href="{{ .Permalink | safeURL  }}">{{ i18n "readMore" }}</a>
	</div>
</article>