<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<meta charset="utf-8">
	<title>
		{{- block "title" . -}}
			{{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
		{{- end -}}
	</title>
	{{ partial "head.html" . }}
</head>
<body>
	{{ partial "slideout.html" . }}
	<div class="container" id="mobile-panel">
		<header>
			{{ partial "header.html" . }}
		</header>
		<main class="main">
			<div class="wrapper">
				<div class="content">
					<article class="h-entry post">
						<header class="header">
							<h1 class="p-name">{{ .Title }}</h1>
						</header>
						<div class="p-content content">
							{{ .Content }}
						</div>
					</article>
				</div>
			</div>
		</main>
		{{ partial "footer.html" . }}
	</div>
	{{ partial "scripts.html" . }}
</body>
</html>